<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
      <a class="text-muted" [attr.href]='prvLink'>Previous Slide</a>
    </div>
    <div class="col-4 text-center">
      <a class="blog-header-logo" href="#" [style.color]="slide.color">{{slide.name}}</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a class="text-muted" [attr.href]='nextLink'>Next Slide</a>
    </div>
  </div>
</header>

<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" href="/presentation/1">Red</a>
    <a class="p-2 text-muted" href="/presentation/4">Orange</a>
    <a class="p-2 text-muted" href="/presentation/5">Yellow</a>
    <a class="p-2 text-muted" href="/presentation/7">Green</a>
    <a class="p-2 text-muted" href="/presentation/9">Blue</a>
    <a class="p-2 text-muted" href="/presentation/12">Purple</a>
    <a class="p-2 text-muted" href="/presentation/13">Black</a>
    <a class="p-2 text-muted" href="/presentation/14">Gray</a>
    <a class="p-2 text-muted" href="/presentation/15">Brown</a>
    <!-- <a class="p-2 text-muted" href="/demo">Live Demo</a> -->
  </nav>
</div>


<div>

  <div class="jumbotron p-5 p-md-5 mb-4 text-white rounded shadow-sm"  [style.background-color]='slide.color'>
      <h1 class="display-1 font-italic">{{slide.name}}</h1>
      <hr class="my-2">
  </div>

</div>


<div class = "card-deck">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-header" [style.background-color]='slide.color'>

        </div>
      <div class="card-body d-flex flex-column align-items-start">
            <h2 class="card-title" >Description</h2>
            <p>{{slide.text}}</p>
        </div>

        </div>


    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-header" [style.background-color]='slide.color'>

          </div>
      <div class="card-body d-flex flex-column align-items-start">
          <h2 class="card-title">Tl;Dr</h2>
          <ul >
            <li class="text-secondary " *ngFor="let string of slide.Examples">{{string}}</li>
          </ul>
      </div>

      </div>

</div>


